.campers__list_wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    margin-bottom: 52px;
}

.campers__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
}

