body {
    font-family: "Inter", sans-serif;
    font-weight: regular;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: inherit;
}

h1, h2, h3, p {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}